@import "~assets/styles/constants.scss";
@import "~assets/styles/mixins.scss";
@import "~assets/styles/fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  position: relative;
  z-index: 0;

  background: white;
  color: black;

  text-rendering: optimizeSpeed;
  
  font-family: $font-primary;
  font-weight: normal;
}
