*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  position: relative;
  z-index: 0;
  background: #EEEFE9;
  color: #000000;
  text-rendering: optimizeSpeed;
  font-weight: normal;
}
